.partners{
    display: flex;
    height: 220px;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.partners img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 575.98px) {
  .partners{
    display: block;
    justify-content: center;
    align-items: center;
    
}
}